# NGC 5

- Name: Reynaldi Evans Adam
- Batch: HCK-013

## SOAL 1 (Pembuatan Tabel dan kontennya)

In [ ]:
CREATE TABLE Customers(
	customer_id SERIAL PRIMARY KEY,
	name VARCHAR(100) NOT NULL,
	region VARCHAR(100) NOT NULL
	)
	
CREATE TABLE Orders(
	order_id SERIAL PRIMARY KEY,
	customer_id INT REFERENCES Customers(customer_id),
	order_date DATE,
	total_amount FLOAT
	)
	
insert into customers(name, region)
values('Yelan', 'Liyue'),
('Raiden Shogun', 'Inazuma'),
('Eula', 'Mondstadt'),
('Nilou', 'Sumeru'),
('Clorinde', 'Fontaine'),
('Arlecchino', 'Snezhnaya')
;


select * from customers c 

insert into orders(customer_id ,order_date, total_amount)
values(1,'2023-05-27', 400.00),
(1,'2023-05-28', 1000.00),
(2,'2023-08-13', 150.00),
(3,'2022-11-01', 75.00),
(4,'2023-12-24', 550.00),
(4,'2023-12-25', 300.00),
(5,'2021-10-24', 550.00),
(6,'2024-01-01', 3000.00)

## SOAL 2 (Penggunaan join)

In [ ]:
select c.name, count(*) as total_amount  from customers c 
left join orders o on o.customer_id = c.customer_id 
group by c.name